#Panda

In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({
   'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
   'x': np.linspace(0,stop=N-1,num=N),
   'y': np.random.rand(N),
   'C': np.random.choice(['Low','Medium','High'],N).tolist(),
   'D': np.random.normal(100, 10, size=(N)).tolist()
   })

In [6]:
df

            A     x         y       C           D
0  2016-01-01   0.0  0.107537    High   90.127449
1  2016-01-02   1.0  0.588287     Low   87.555180
2  2016-01-03   2.0  0.671983  Medium   95.391725
3  2016-01-04   3.0  0.884047  Medium   89.910952
4  2016-01-05   4.0  0.001778    High  102.843244
5  2016-01-06   5.0  0.148985  Medium  115.165223
6  2016-01-07   6.0  0.700360  Medium   95.686911
7  2016-01-08   7.0  0.964306     Low   88.992629
8  2016-01-09   8.0  0.328909     Low  103.084801
9  2016-01-10   9.0  0.752253  Medium  106.236584
10 2016-01-11  10.0  0.528228  Medium  121.832938
11 2016-01-12  11.0  0.242696     Low  101.003161
12 2016-01-13  12.0  0.712950  Medium   96.209642
13 2016-01-14  13.0  0.335188  Medium  115.176577
14 2016-01-15  14.0  0.250971  Medium   98.599358
15 2016-01-16  15.0  0.976546     Low  118.223845
16 2016-01-17  16.0  0.923933    High   82.441102
17 2016-01-18  17.0  0.453888    High  119.626335
18 2016-01-19  18.0  0.624867     Low   87.028454
19 2016-01-20  19.0  0.425909     Low   91.067972

In [13]:
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['col2','col1']);
unsorted_df;

In [14]:
unsorted_df

       col2      col1
1 -0.191491 -0.141470
4  1.884051 -0.215798
6 -0.524298  1.541582
2  1.748517 -0.939609
3  1.984515  2.653769
5  0.146856 -0.858585
9 -0.887270 -0.322057
8 -0.113143  0.932178
0 -0.047676  1.065199
7 -1.079001 -0.588763

In [29]:
s = pd.Series(['Om Prakash', 'Satyam', np.nan ,  'Radha'])

In [30]:
for col in s:
    print(col);

Om Prakash
Satyam
nan
Radha

Creating simple Series

In [31]:
data = np.array(['Om','OP','Satya','Sher'])
s =  pd.Series(data)

In [32]:
s

0       Om
1       OP
2    Satya
3     Sher
dtype: object

In [33]:
s  =  pd.Series(data,['A','B','C','D'])

In [34]:
s

A       Om
B       OP
C    Satya
D     Sher
dtype: object

Creating series from dict

In [35]:
data2 =  {'1st':90,'2nd':100,'3rd':200}
s = pd.Series(data2)

In [36]:
s

1st     90
2nd    100
3rd    200
dtype: int64

In [40]:
s = pd.Series(data2,['2nd','3rd','1st'])
s

2nd    100
3rd    200
1st     90
dtype: int64

In [41]:
s['3rd']

200

In [42]:
s[:2]

2nd    100
3rd    200
dtype: int64

In [44]:
s[-2:]

3rd    200
1st     90
dtype: int64